/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Add some breathing room for the containers */
.posts-container,
.comments-container {
  margin: 2rem;
}

/* Style the header for the posts section */
.posts-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Style the post elements */
.post {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.post:hover,
.post.active {
  background-color: #f2f2f2;
}

.post h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.post p {
  font-size: 1.1rem;
  line-height: 1.5;
}

/* Style the header for the comments section */
.comments-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Style the comment elements */
.comment {
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding: 1rem;
}

.comment h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.comment p {
  font-size: 1.1rem;
  line-height: 1.5;
}
